<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>W4 HW Can Order Mall</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <style>
        body {
            margin: 0 auto;
            width: 1000px;
        }
        .wrapper {
            position: relative;
            z-index:1;
        }
        .wrapper:after {
            background-image: url("https://static-cdn.jtvnw.net/ttv-boxart/League%20of%20Legends.jpg");
            top:0;
            left:0;
            position:absolute;
            background-size: 100%;
            opacity: 0.5!important;
            filter:alpha(opacity=50);
            z-index: -1;
            content:"";
            width:100%;
            height:100%;
        }
        .item-img {
            height: 350px;
            width: 350px;
            margin-top: 10px;
            margin-left: 325px;
            margin-right: auto;
            object-fit: cover;
        }
        .item-description {
            margin-left: 20px;
        }
        .inline {
            display: inline-block;
        }
        .centered {
            margin-left: 400px;
        }
        .button-sized{
            width:200px;
        }
        /* issue: margin-top, margin-bottom을 해도 안먹힘. height를 바꿔봐도 안먹힘.. */
        .row-margined{
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .order {
        text-align: center;
          }

        .orders {
            margin-top: 100px;
        }
    </style>
    <script>
        $(document).ready(function() {
        $("#orders-box").html("");
        listing();
      });
        function check_empty(){
            if (!$('#customer-name').val()){
                alert ('소환사님의 이름을 입력해주세요');
                $('#customer-name').focus();
            } else if ($('#exampleFormControlSelect1').val()=='-- 수량을 선택하세요 --'){
                alert ('향로가 몇개나 필요하신가요? 입력해주세요');
                $('#exampleFormControlSelect1').focus();
            } else if (!$('#address').val()){
                alert ('택배기사님이 배달을 못하겠어요 ㅠㅠ 주소를 입력해주세요!');
                $('#address').focus();
            } else if (!$('#phone_number').val()){
                alert ('유출하지 않을게요. 소환사님 번호 좀 따겠습니다><')
                $('#phone_number').focus();
            } else {
                return true
            }
        }
        function make_order(){
            if (check_empty()){
                let name_give = $('#customer-name').val();
                let cnt_give = $('#exampleFormControlSelect1').val();
                let address_give = $('#address').val();
                let phone_give = $('#phone_number').val();

                $.ajax({
                    type: 'POST',
                    url: "/orders",
                    data: {
                        name: name_give,
                        cnt: cnt_give,
                        address: address_give,
                        phone: phone_give},
                    success: function(response) {
                        if (response['result'] == "success") {
                            alert(response['msg']);
                            $('#customer-name').val("");
                            // $('#exampleFormControlSelect1').val('-- 수량을 선택하세요 --');
                            $('#address').val("");
                            $('#phone_number').val("");            
                            window.location.reload();            
                        }
                    }
                    })
            }
        }
        function listing() {
        // 1. 리뷰 목록을 서버에 요청하기
        // 2. 요청 성공 여부 확인하기
        // 3. 요청 성공했을 때 리뷰를 올바르게 화면에 나타내기
        $.ajax({
          type: "GET",
          url: "/orders",
          data: {},
          success: function(response) {
            if (response["result"] == "success") {
              alert(response["msg"]);
              data_recieve = response["data_give"];
              for (let i = 0; i < data_recieve.length; i++) {
                data = data_recieve[i];
                let name_recieve = data["name"];
                let cnt_recieve = data["cnt"];
                let address_recieve = data["address"];
                let phone_recieve = data["phone"];
                make_card(name_recieve, cnt_recieve, address_recieve, phone_recieve);
              }
              // 2. 성공했을 때 리뷰를 올바르게 화면에 나타내기
            } else {
              alert("리뷰를 받아오지 못했습니다");
            }
          }
        });
      }

      function make_card(name, cnt, address, phone) {
        let temp_html =
          "<tr>\
                                <td>" +
          name +
          "</td>\
                                <td>" +
          cnt +
          "</td>\
          <td>" +
          address +
          "</td>\
                            <td>" +
          phone +
          "</td>\
                            </tr>";
        $("#orders-box").append(temp_html);
      }

    </script>
</head>

<body>
    <div class="wrapper">
        <div class="mall-top-img">
            <img class="item-img" src="https://pbs.twimg.com/profile_images/1122584786164486144/TFW0stBE_400x400.jpg">
        </div>
        <div class="item-description">
            <div>
                <h1 class="inline"><b>불타는 향로 팜</b></h1>
                <h4 class="inline">&nbsp; 가격: 2200G / 개</h4>
                <p>불타는 향로로 말씀드릴 것 같으면 한때 '대향로 시대'를 열만큼 시대를 풍미한 위대한 유틸 서폿템이다. 원딜이 향로의 고유 지속 효고를 받으면 어쩌구 저쩌구 효과도 있는데 옛날엔
                    피흡도 있었다. 2017년 롤드컵때는 63경기동안 59경기에 등장할 정도였따. 지금은 그때에 비할 수는 없으나 여전히 유틸 서폿이 가기에 가성비갓갓템이란 건 부정할 수...
                </p>
            </div>
            <div>
                <h1><b>주문하기</b></h1>
                <div class="container">
                    <div class="row row-margined">
                        <div class="col-6 col-md-4">
                            주문자
                        </div>
                        <div class="col-6 col-md-4">
                            <input type="text" class="form-control" id="customer-name">
                        </div>
                    </div>
                    <div class="row row-margined">
                        <div class="col-6 col-md-4">
                            <label for="exampleFormControlSelect1">수량</label>
                        </div>
                        <div class="col-6 col-md-4">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>-- 수량을 선택하세요 --</option>
                                <option>1개</option>
                                <option>2개</option>
                                <option>3개</option>
                                <option>4개</option>
                                <option>5개</option>
                              </select>
                        </div>
                    </div>
                    <div class="row row-margined">
                        <div class="col-6 col-md-4">
                            주소
                        </div>
                        <div class="col-6 col-md-4">
                            <input type="text" class="form-control" id="address">
                        </div>
                    </div>
                    <div class="row row-margined">
                        <div class="col-6 col-md-4">
                            전화번호
                        </div>
                        <div class="col-6 col-md-4">
                            <input type="text" class="form-control" id="phone_number">
                        </div>
                    </div>
                </div>
                <a class="btn btn-primary btn-lg centered button-sized" href="#" role="button" onclick='make_order();'>주문하기</a>
    </div>
    <div class="orders">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">주문자 이름</th>
              <th scope="col">수량</th>
              <th scope="col">주소</th>
              <th scope="col">연락서</th>
            </tr>
          </thead>
          <tbody id="orders-box">
            <tr>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
          </tbody>
        </table>
      </div>

</body>

</html>